@import "/src/styles/utils/variables";

.spacer {
  flex: 1 1 auto;
}


nav {
  display: flex;
  height: $menuHeight;
  width: 100%;

  div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $darkblue;
    width: 100%;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logotype {
    padding: 20px 20px;
    height: calc($menuHeight - 20px);
    a {
      font-size: 1.4rem;
      text-decoration: none;
      color: $white;
    }
  }

  .menu-expanded {
    z-index: 99;
    display: flex;
    align-items: center;
    text-align: center;

    @media (max-width: $menuBreakpoint) {
      display: none;
    }

    .menu-item {
      padding: 0 20px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      // text-transform: uppercase;
      font-style: normal;
      font-size: 1.4rem;
      font-weight: 400;
      color: $white;
    }
  }

  .burger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;

    :first-child {
      color: #ffffff;
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu-compact {
    z-index: 99;
    height: 100vh;
    display: none;
    justify-content: center;
    position: absolute;
    top: #{$menuHeight + 2};
    background: $transparent;
    width: 100%;
    transform: translateX(100vw);
    transition: transform 250ms ease-out;

    a {
      font-size: 1.4rem;
      text-decoration: none;
      color: $white;
    }

    @media (max-width: $menuBreakpoint) {
      color: $white;
      display: flex;
      flex-direction: column;

      &.is-open {
        transform: translateX(0vw);
        transition: transform 250ms ease-in;
        display: flex;
        position: absolute;
        top: #{$menuHeight};
        background: $transparent;
        width: 100%;
        .menu-item {
          line-height: calc($menuHeight + 20px);
          // border-bottom: 1px solid #cccccc;
        }
      }
    }
  }
}
