<nav>
  <a href="#"><img class="logotype" src="./assets/img/dla-logo-white.png" alt=""></a>

  <div class="menu-expanded">
    <span class="spacer"></span>

    <a href="#" class="menu-item">About me</a>
    <a href="#" class="menu-item">My skills</a>
    <a href="#" class="menu-item">Portfolio</a>
    <!-- <button (click)="toggleMenu()">Toggle</button> -->

  </div>

  <!-- <span class="burger" (click)="toggleMenu()"><img src="./assets/svg/burger.svg" alt=""></span> -->
  <!-- <button (click)="toggleMenu()">Toggle</button> -->
  <span class="burger" (click)="toggleMenu()">
    <img src="{{isSideNaviOpen ? sideNavOpenIcon : sideNavClosedIcon }}" >
    
  </span>
    

  <!-- <div class="menu-compact" [class.is-open]="isSideNaviOpen"> -->
    <!-- <a href="#" class="menu-item">About me</a>
    <a href="#" class="menu-item">My skills</a>
    <a href="#" class="menu-item">Portfolio</a>
    <a href="#" class="menu-item">Contact</a>
     -->

    

  <!-- </div> -->

</nav>

<!-- <mat-toolbar color="primary">
  <span>My Logo</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="material-icons">
    <mat-icon>share</mat-icon>
  </button>
  <span mat-icon-button (click)="toggleMenu()">
    <mat-icon class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  </span>
  <span class="menu" [class.is-open]="isMenuOpen">
   <a class="menu-item" href="#">Home</a>
<a class="menu-item" href="#">About</a>
<a class="menu-item" href="#">Portfolio</a>
<a class="menu-item" href="#">Contact</a>
  </span>
</mat-toolbar> -->