
<nav mat-toolbar id="nav-bar">
  <ul>
    <li class="logotype">
      <a href="#">Logotype</a>
    </li>
    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a href="#" class="menu-item">About me</a>
      <a href="#" class="menu-item">My skills</a>
      <a href="#" class="menu-item">Portfolio</a>
      <a href="#" class="menu-item">Contact</a>
    </li>
  </ul>
</nav>

<!-- <mat-toolbar color="primary">
  <span>My Logo</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="material-icons">
    <mat-icon>share</mat-icon>
  </button>
  <span mat-icon-button (click)="toggleMenu()">
    <mat-icon class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  </span>
  <span class="menu" [class.is-open]="isMenuOpen">
   <a class="menu-item" href="#">Home</a>
<a class="menu-item" href="#">About</a>
<a class="menu-item" href="#">Portfolio</a>
<a class="menu-item" href="#">Contact</a>
  </span>
</mat-toolbar> -->