<nav>
  <a (click)="toHome()" routerLink="/home" routerLinkActive="active" ><img class="logotype" src="./assets/img/dla-logo-white.png" alt=""></a>

  <div class="menu-expanded">
    <span class="spacer"></span>

    <a (click)="toAbout()" routerLink="/aboutme" routerLinkActive="active" class="menu-item">About me</a>
    <a (click)="toSkills()" routerLink="/myskills" routerLinkActive="active"  class="menu-item">My skills</a>
    <a (click)="toPortfolio()" routerLink="portfolio" routerLinkActive="active"  class="menu-item">Portfolio</a>
    <a (click)="toContact()" routerLink="contact" routerLinkActive="active"  class="menu-item">Contact</a>

  </div>

  <span class="burger" (click)="toggleMenu()">
    <img src="{{isSideNaviOpen ? sideNavOpenIcon : sideNavClosedIcon }}" >
    
  </span>

</nav>

