@import "/src/styles/utils/variables";


:host {
  display: flex;
  background-color: rgba(7, 236, 160, 0.3);
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
min-height: 50px;
}