<mat-card fxLayout="column" fxLayout.gt-sm={{fxDirection}} fxLayoutAlign="center center">
   
    <img mat-card-image src={{case.img}} alt="Picture of a Laptop with the Join Project on the screen">


    <mat-card-content>
    
    <mat-card-content fxLayout="column"  fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start" class="align-center">
        <div class="subtitle-normal-bold">{{case.name}}</div>
        <div class="subtitle-normal-regular">{{case.expertise}}</div>
      <p class="description">
        {{case.description}}
      </p>
    </mat-card-content>
    
  
    <mat-card-actions fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
      <a href="{{ case.linkWebCase }}" target="_blank"><button mat-raised-button class="regular">LIVE TEST</button></a>  
      <div class="spacer"></div>
      <a href="{{ case.linkGitCase }}" target="_blank"><button mat-stroked-button class="regular">GitHub</button></a>
    </mat-card-actions>
</mat-card-content>

  </mat-card>