<mat-card fxLayout="column" fxLayout.gt-sm={{fxDirection}} fxLayoutAlign="center center">
   
    <img mat-card-image src={{case.img}} alt="Picture of a Laptop with the Join Project on the screen">


    <mat-card-content>
    
    <mat-card-content fxLayout="column"  fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start" class="align-center">
        <div class="subtitle-normal-bold">{{case.name}}</div>
        <div class="subtitle-normal-regular">{{case.expertise}}</div>
      <p class="description">
        {{case.description}}
      </p>
    </mat-card-content>
    
  
    <mat-card-actions fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
      <button mat-raised-button color="primary" class="regular primary-button">LIVE TEST</button>  
      <div class="spacer"></div>
      <button mat-stroked-button color="accent" class="regular secondary-button">GitHub</button>
    </mat-card-actions>
</mat-card-content>

  </mat-card>