@import "/src/styles/utils/variables";
@import "/src/styles/utils/buttons";

:host {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card{
    img{
        width: clamp(220px, 40vw, 600px);
    }
}

mat-card-content{
  padding:0;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.copy-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}

.spacer{
    width: 30px;
margin-top: 50px;
}

.description{
    width: clamp(250px, 40vw, 600px);
    text-align: left;
    @media (max-width: $breakpointMedium) {
        text-align: center;
    }
}
