<mat-card class="example-card" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image src="./assets/img/portfolio-case-join.png" alt="Picture of a Laptop with the Join Project on the screen">


    <mat-card-content>
    
    <mat-card-content fxLayout="column"  fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start" class="align-center">
        <div class="title-normal-bold">Pokedex</div>
        <div class="subtitle-normal-regular"> JavaScript| HTML | CSS | Api</div>
      <p class="description">
        Based on the PokeAPI a simple library that provides and catalogues pokemon information.
      </p>
    </mat-card-content>
    
  
    <mat-card-actions fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
      <button mat-raised-button color="primary" class="regular primary-button">LIVE TEST</button>  
      <div class="spacer"></div>
      <button mat-stroked-button color="accent" class="regular secondary-button">GitHub</button>
    </mat-card-actions>
</mat-card-content>

  </mat-card>