<app-headline id="portfolio" [headline]="headlines[0]" [subheadline]="subheadlines[0]" [fxAlign]="fxAlignEnd"></app-headline>
<app-headline id="portfolio" [headline]="headlines[1]" [subheadline]="subheadlines[1]" [fxAlign]="fxAlignStart"></app-headline>
<app-headline id="portfolio" [headline]="headlines[2]" [subheadline]="subheadlines[2]" [fxAlign]="fxAlignEnd"></app-headline>
<app-headline id="portfolio" [headline]="headlines[3]" [subheadline]="subheadlines[3]" [fxAlign]="fxAlignStart"></app-headline>
<app-footer></app-footer>