<app-header [isSideNaviOpen]="sideNaviIsOpen" (naviClick)='sideNaviClick($event)'></app-header>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav (click)="sidenav.toggle()" (opened)="log('Is opened')" (closed)="log('Is closed')" #sidenav mode="over" [(opened)]="opened"
    position="end">
   
    <div class="mysidenav" >
      <div><a (click)="toAbout()" routerLink="" routerLinkActive="active" class="menu-item">About me</a></div>
      <div><a (click)="toSkills()" routerLink="" routerLinkActive="active" class="menu-item">My skills</a></div>
      <div><a (click)="toPortfolio()" routerLink="" routerLinkActive="active" class="menu-item">Portfolio</a></div>
      <div><a (click)="toContact()" routerLink="" routerLinkActive="active" class="menu-item">Contact</a></div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content role="main">
    <router-outlet>
      <app-mainpane></app-mainpane>
    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>