@import "/src/styles/utils/variables";


mat-sidenav-container {
    height: calc(100% - $menuHeight);
  }
  
  mat-sidenav,
  mat-sidenav-content {
    padding: 0;
    background-color: burlywood;
  }
  
  mat-sidenav {
    padding: 0;
    background-color: $transparent;
    width: 100vw;
  }
  
  .mysidenav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  