<router-outlet>
  <app-header (naviClick)="sideNaviClick($event)"></app-header>

  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav (opened)="log('Is opened')" (closed)="log('Is closed')" #sidenav mode="over" [(opened)]="opened"
      position="end">

      <div class="mysidenav">
        <div><a href="#" class="menu-item">About me</a></div>
        <div><a href="#" class="menu-item">My skills</a></div>
        <div><a href="#" class="menu-item">Portfolio</a></div>
        <div><a href="#" class="menu-item">Contact</a></div>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <app-mainpane></app-mainpane>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  

</router-outlet>