<div class="container">
    <div class="icon-list">
        <div *ngFor="let skill of skills; let i = index" class="icon">
            <img src="./assets/svg/{{skill.img}}" alt="{{skill.name + ' Icon'}}">
            <span>{{skill.name}}</span>
        </div>
    </div>

    <div class="headline-box">
        <div class="headline">
            <div decor-line="">
                <span>My Skills</span></div>
            <div class="regular">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum incidunt repellat, necessitatibus iusto quis earum est adipisci assumenda architecto? Maxime incidunt maiores odio nemo deleniti eos architecto omnis suscipit facilis.
            </div>
        </div>

    </div>

</div>