@import "/src/styles/utils/variables";
:host {
  background-color: pink !important;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  //   width: 100%;
  border: 15px solid red;
  @media (max-width: $breakpointMedium) {
    flex-direction: column-reverse;
  }
}
.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 10px solid green;
  //   flex-grow: 1;
  .icon {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // width: 120px;
    // height: 120px;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    border: 5px solid black;
    img {
      max-width: 50px;
      max-height: 50px;
    }
    span {
      margin-top: 10px;
      border: 1px dashed yellow;
    }
  }
}
.headline-box {
    position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: 10px solid green;

  .headline {
    position: relative;
    right: 0;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: justify;
    width: 100%;
    margin-bottom: 50px;
    
    :nth-child(2){
        margin-right: 30px;
    }
    span{
        white-space: nowrap;
    }
    
    @media (max-width: $breakpointMedium) {
        width: 60%;
      }

  }
}
[decor-line] {
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
}
[decor-line]::after {
  content: attr(decor-line);
  z-index: 20;
  position: relative;
  right: 0;
    margin-left: 10px;
  height: 4px;
  min-width: 100%;
  border-bottom: 4px solid $green;
  color: transparent;
}
[decor-line]::before {
  content: attr(decor-line);
  z-index: 20;
  margin-right: 10px;
  margin-left: 0px;
  height: 4px;
  min-width: 5vh;
  border-bottom: 4px solid $green;
  color: transparent;
}
