@import "/src/styles/utils/variables";

:host {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(80vh - $menuHeight);
  @media (max-width: $breakpointMedium) {
    align-items: center;
  }
}

mat-card {
  top: 2rem;
  height: 30rem;
  z-index: 3;
  width: 100%;
  box-shadow: none !important;
}

mat-card-content {
  width: 100%;
}

.mat-mdc-card-content {
  padding: 0 0 !important;
}

.copy-container-grid {
  position: relative;
  top: 50px;
  height: 350px;
  display: grid;
  gap: 1.5rem;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-template-areas: "one one two two two";
  :nth-child(1) {
    grid-area: one;
  }

  :nth-child(2) {
    grid-area: two;
  }

  @media (max-width: $breakpointMedium) {
    top: 300px;
    // width: 50%;
    grid-template-areas:
      "one"
      "two";
  }
  @media (max-width: $breakpointCompact) {
    top: 270px;
  }
  @media (max-width: 392px) {
    top: 300px;
  }
}

.copy-fields-grid {
  display: grid;
  grid-auto-columns: 1fr;
  max-width: 800px;
  grid-template-areas:
    "one two two two two two two two two"
    "three three three three three three three three three";

  @media (max-width: $breakpointMedium) {
    grid-template-areas:
      "one one one two two two two two two two"
      "three three three three three three three three three three";
  }
  @media (max-width: $breakpointCompact) {
    grid-template-areas:
      "one one two two two two two two  "
      "three three three three three three three three  ";
  }
  @media (max-width: 450px) {
    grid-template-areas:
      "one  two two two two two two  "
      "three  three three three three three three  ";
  }
  @media (max-width: 392px) {
    grid-template-areas:
      "one two two two two two two two two "
      "three three three three three three three three three ";
  }

  :nth-child(1) {
    grid-area: one;
    @media (max-width: $breakpointMedium) {
    }
  }

  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: three;
    display: flex;
    justify-content: center;
  }
}

.name-container {
  width: 100%;
  text-align: left;
  @media (max-width: $breakpointMedium) {
    align-items: center;
  }
}

.vertical-copy {
  position: relative;
  right: 20px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  z-index: 1;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @media (min-width: ($breakpointExpanded + (350px))) {
    font-size: 68px;
  }
  @media (max-width: ($breakpointExpanded + (350px))) {
    font-size: 66px;
  }
  @media (max-width: ($breakpointExpanded + (100px))) {
    font-size: 62px;
  }
  @media (max-width: $breakpointExpanded) {
    font-size: 56px;
  }
  @media (max-width: $breakpointMedium) {
    font-size: 42px;
  }
  @media (max-width: $breakpointCompact) {
    font-size: 37px;
  }
  @media (max-width: 392px) {
    font-size: 28px;
  }
}

.name {
  font-style: normal;
  margin-bottom: 28px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(28px, 4.3vw, 65px);
  line-height: 120%;
  @media (max-width: 392px) {
    line-height: 100%;
  }
}

.profession1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 4.3vw, 65px);
  line-height: 80%;
  text-transform: uppercase;
  color: #9747ff;
  @media (max-width: 392px) {
    line-height: 100%;
  }
}

.shadows {
  justify-content: flex-start;
  width: 100%;
  position: relative;
  z-index: -1;
  @media (max-width: $breakpointMedium) {
  }

  // svg:nth-child(1) {
  //   border: yellow solid 4px;
  //   position: absolute;
  //   left: -100px;
  //   // width: auto;
  //   // top: 0px;
  //   max-height: 580px;
  //   // max-width: 100%;

  //   @media (max-width: $breakpointMedium) {
  //     // left: -100px;
  //   }
  //   @media (max-width: ($breakpointMedium - 160)) {
  //     left: -150px;
  //   }
  //   @media (max-width: $breakpointCompact) {
  //     max-height: 500px;
  //   }
  // }

  // svg:nth-child(2) {
  //   // max-width: 100%;
  //   border: yellow solid 4px;
  //   overflow: hidden;
  //   position: absolute;
  //   left: 200px;
  //   max-height: 580px;
  //   width: auto;

  //   @media (max-width: $breakpointMedium) {
  //     left: 160px;
  //     // left: 140px;
  //   }
  //   @media (max-width: ($breakpointMedium - 160)) {
  //     left: 50px;
  //     // left: 140px;
  //   }
  //   @media (max-width: $breakpointCompact) {
  //     left: 0px;
  //   }
  // }

  img:nth-child(1) {
    // border: rgb(0, 255, 234) solid 4px;
    position: absolute;
    left: -50px;
    top: -10px;
    max-width: 80%;
    max-height: 600px;
    height: auto;
    background-size: cover;
    overflow: hidden;

    @media (max-width: $breakpointMedium) {
      width: auto;
    }

    @media (max-width: $breakpointCompact) {
      // left: -180px;
      // width: auto;
    }
  }
  img:nth-child(2) {
    background-size: cover;
    // border: yellow solid 4px;
    position: absolute;
    left: 200px;
    max-width: 80%;
    max-height: 550px;
    height: auto;
    overflow: hidden;

    @media (max-width: $breakpointMedium) {
      width: auto;
    }

    @media (max-width: ($breakpointCompact + 160px)) {
      left: 90px;
    }
    @media (max-width: ($breakpointCompact)) {
      left: 60px;
    }
    @media (max-width: 392px) {
      left: 40px;
    }
    // @media (max-width: 280px) {
    //   left: 20px;
    // }
  }
}

.curve-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 80vh;
}

.profile-image {
  z-index: 0;
  display: flex;
  position: absolute;
  height: 600px;
  bottom: 0;

  @media (min-width: ($breakpointExpanded + (350px))) {
    top: 20px;
    left: 220px;
    height: 500px;
  }
  @media (max-width: ($breakpointExpanded + (350px))) {
    display: flex;
    // left: 150px;
    top: 20px;
    left: 220px;
    height: 500px;
  }
  @media (max-width: ($breakpointExpanded + (100px))) {
    height: 500px;
    left: 200px;
    bottom: 0;
  }
  @media (max-width: $breakpointExpanded) {
    height: 500px;
    left: 160px;
    bottom: 0;
  }
  @media (max-width: $breakpointMedium) {
    position: relative;
    top: 5px;
    left: unset;
    height: 50vh;
    bottom: 40px;
  }
  @media (max-width: $breakpointCompact) {
    height: 50vh;
    left: unset;
    top: 20px;
  }
}

.vector {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 85vh;
  bottom: -210px;

  @media (max-width: ($breakpointExpanded + (100px))) {
    height: 80vh;
    bottom: -190px;
  }
  @media (max-width: $breakpointExpanded) {
    height: 60vh;
    bottom: -90px;
  }
  @media (max-width: $breakpointMedium) {
    height: 50vh;
    bottom: -10px;
  }
  @media (max-width: $breakpointCompact) {
    height: 40vh;
    bottom: 40px;
  }
}

.copy-container-child {
  display: flex;
  margin-right: 30px;
  @media (max-width: 392px) {
    width: 70%;
    margin: unset;
  }
}

.profession {
  text-align: justify;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 4.3vw, 65px);
  line-height: 80%;
  text-transform: uppercase;
  color: #9747ff;
  @media (max-width: 392px) {
    line-height: 100%;
  }
}

.copy-container-parent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 65%;
  right: 0;
  top: 160px;
  @media (max-width: $breakpointMedium) {
    align-items: center;
    width: 80%;
    top: 434px;
  }
}

.social-links {
  position: absolute;
  bottom: 140px;
  z-index: 2;
  display: flex;
  margin-left: 0px;
  width: 100%;
  justify-content: flex-end !important;
  align-items: flex-start !important;
  // height: 25vh;
  img {
    margin: 0 20px;
  }
  @media (max-width: $breakpointMedium) {
    bottom: 40px;
  }
}

.scroll-down-arrow {
  position: absolute;
  bottom: -50px;
  right: 30px;
  writing-mode: vertical-rl;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  @media (max-width: $breakpointMedium) {
    display: none;
  }
}

.contact-btn {
  position: relative;
  z-index: 5;
  margin-top: 40px;

  @media (max-width: 1000px) {
    margin-top: 8px;
  }

  a {
    padding: 10px 20px;
    font-size: calc(23px + 0.4vw);
    background-color: #70e61c;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    text-decoration: none;
    display: inline-block;

    &:hover {
      cursor: pointer;
      background-color: #9747ff;
      transform: scale(1.1, 1.1);
    }

    @media (max-width: 1000px) {
      font-size: calc(16px + 0.4vw);
      padding: 8px;
    }
  }
}
