@import "/src/styles/utils/variables";

:host {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  // overflow: hidden;
  // min-height: 80vh;
  flex-direction: column;
  width: 100vw;
}

.shadows {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  // height: 95%;
  z-index: -1;

  img:nth-child(1) {
    position: relative;
    width: 350px;
    left: -50px;
  }

  img:nth-child(2) {
    position: relative;
    width: 450px;
    left: -200px;
  }
}

.curve-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 80vh;
  // @media (min-width: ($breakpointExpanded + (350px))) {
  //   height: 85vh;
  // }
  // @media (max-width: ($breakpointExpanded + (350px))) {
  //   height: 75vh;
  // }
  // @media (max-width: $breakpointMedium) {
  //   justify-content: center;
  // }
}

.profile-image1 {
  z-index: 0;
  display: flex;
  position: absolute;
  // object-fit: contain;
  height: 600px;
  // left: 150px;
  bottom: 0;

  @media (min-width: ($breakpointExpanded + (350px))) {
    top: 20px;
    left: 110px;
    height: 500px;
  }
  @media (max-width: ($breakpointExpanded + (350px))) {
    display: flex;
    // left: 150px;
    top: 20px;
    left: 80px;
    height: 500px;
  }
  @media (max-width: ($breakpointExpanded + (100px))) {
    height: 500px;
    left: 80px;
    bottom: 0;
  }
  @media (max-width: $breakpointExpanded) {
    height: 500px;
    left: 60px;
    bottom: 0;
  }
  @media (max-width: $breakpointMedium) {
    position: relative;
    top: 5px;;
    left: unset;
    height: 50vh;
    bottom: 40px;
  }
  @media (max-width: $breakpointCompact) {
    height: 50vh;
    left: unset;
    top: 20px;
  }
}

.vector {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 85vh;
  bottom: -210px;
  
  
  @media (max-width: ($breakpointExpanded + (100px)) ){
    height: 80vh;
    bottom: -190px;
  }
  @media (max-width: $breakpointExpanded) {
    height: 60vh;
    bottom: -90px;
  }
  @media (max-width: $breakpointMedium) {
    height: 50vh;
    bottom: -10px;
  }
  @media (max-width: $breakpointCompact) {
    height: 40vh;
    bottom: 40px;
  }
}

.spacer1 {
  flex-grow: 1 1 auto;
  width: 40%;
  @media (max-width: $breakpointMedium) {
    width: 0;
  }
}

.copy-container-child {
  display: flex;
  margin-right: 30px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 160px;
  @media (max-width: ($breakpointExpanded + (100px))) {
    height: 147px;
  }
  @media (max-width: $breakpointExpanded) {
    height: 122px;
  }
  @media (max-width: $breakpointMedium) {
    height: 106px;
  }
  @media (max-width: $breakpointCompact) {
    height: 45px;
  }
}

.name {
  text-align: justify;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 120%;

  @media (max-width: ($breakpointExpanded + (100px))) {
    font-size: 56px;
  }
  @media (max-width: $breakpointExpanded) {
    font-size: 50px;
  }
  @media (max-width: $breakpointMedium) {
    font-size: 46px;
  }
  @media (max-width: $breakpointCompact) {
    font-size: 45px;
  }
}
.profession {
  text-align: justify;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #9747ff;
  @media (max-width: ($breakpointExpanded + (100px))) {
    font-size: 42px;
  }
  @media (max-width: $breakpointExpanded) {
    font-size: 36px;
  }
  @media (max-width: $breakpointMedium) {
    font-size: 32px;
  }
  @media (max-width: $breakpointCompact) {
    font-size: 60px;
  }
}

.vertical-copy {
  z-index: 1;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: auto;
  margin: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  @media (max-width: ($breakpointExpanded + (100px))) {
    font-size: 60px;
  }
  @media (max-width: $breakpointExpanded) {
    font-size: 50px;
  }
  @media (max-width: $breakpointMedium) {
    font-size: 40px;
  }
  @media (max-width: $breakpointCompact) {
    font-size: 60px;
  }
}

.copy-container-parent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  top: 160px;
  @media (max-width: $breakpointMedium) {
    justify-content: center;
    width: 100%;
    top:430px
  }
}

.social-links {
  position: absolute;
  bottom: 40px;
  z-index: 2;
  display: flex;
  margin-left: 0px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 25vh;
  img {
    margin: 0 20px;
  }
}

.blue-line {
  min-width: 15vh;
  position: relative;
  margin: 16px;
  margin-left: 0;
  margin-right: 20px;
  border-bottom: 4px solid #4b47ff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.scroll-down-arrow {
  writing-mode: vertical-rl;
  width: auto;
  margin: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

.email {
  margin-left: 20px;
}

.scroll-down {
  margin-left: 20px;
}

.spacer2 {
  width: 60%;
  flex-grow: 1 1 auto;
}
