<div class="shadows">
    <img class="shadow-purple" src="./assets/svg/sec_greeting_purple_shadow.svg" alt="">
    <img class="shadow-green" src="./assets/svg/sec_greeting_green_shadow.svg" alt="">
</div>

<div>
    <img class="profile-image1" src="./assets/img/profile-image1.png">
</div>

<div class="copy-container-parent">
        <div class="spacer"></div>
        <div class="vertical-copy">I am</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt autem. Minima, sit obcaecati expedita iusto necessitatibus dolore rerum magnam cupiditate inventore officiis quo, laborum aliquam temporibus dolor rem cumque!</div>
    
</div>

<img class="vector" src="./assets/svg/vector.svg">
<img class="vector2" src="./assets/svg/vector2.svg">