
<div class="shadows">
    <img class="shadow-purple" src="./assets/svg/sec_greeting_purple_shadow.svg" alt="">
    <img class="shadow-green" src="./assets/svg/sec_greeting_green_shadow.svg" alt="">
</div>
<div class="curve-image-container">
    <img class="profile-image1" src="./assets/img/profile-image1.png">
    <img class="vector" src="./assets/svg/vector.svg">
</div>

<div class="copy-container-parent">

    <div class="spacer"></div>
    <div class="copy-container-child" >
        <h1 class="vertical-copy">I am</h1>
        <div class="name-container">
            <div class="name">
                Alex. Schönfeld
            </div>
            <div class="profession">
                Frontend Developer
            </div>
        </div>

    </div>


</div>    
<div class="social-links">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nulla aut? Sequi placeat voluptate modi quis. Et temporibus natus in, quaerat mollitia fugiat accusamus perspiciatis, assumenda placeat provident impedit repudiandae!</div>
