<mat-card style="flex-direction: row;">
  <mat-card-content>

    <mat-card-content>
      <div class="headline">About me</div>
    </mat-card-content>
    <mat-card-content class="regular">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repudiandae sunt nemo
      a, ab quaerat veniam praesentium illo, vel, repellat beatae aperiam vero cum? Itaque facilis minima provident
      magni beatae? Quae velit quas reiciendis nobis voluptate placeat debitis veritatis non quos error a delectus
      similique provident
      voluptatum autem ab nesciunt quaerat aliquid fuga tenetur, perferendis numquam! Nobis cum eos quas.
    </mat-card-content>
    <mat-card-content class="flex">
      <div><img src="./assets/svg/bulb.svg"></div>
      <div>Quae velit quas reiciendis nobis voluptate placeat debitis veritatis non quos error a delectus
        similique provident voluptatum autem ab nesciunt quaerat aliquid fuga tenetur, perferendis numquam! Nobis cum
        eos
        quas.Quae velit quas reiciendis nobis.</div>
    </mat-card-content>
    <mat-card-content class="flex">
      <div><img src="./assets/svg/puzzle.svg"></div>
      <div>
        Voluptate placeat debitis veritatis non quos error a delectus
        similique provident voluptatum autem ab nesciunt quaerat aliquid fuga tenetur, perferendis numquam! Nobis cum
        eos
        quas.
      </div>

    </mat-card-content>
  </mat-card-content>

  <mat-card-content>
    <mat-card-content>
      <div class="circle-image">
        <img src="./assets/img/alex_profile2.jpg" alt="">
      </div>
    </mat-card-content>
  </mat-card-content>


  <img class="shadow" src="./assets/img/about_purple_shadow.png" alt="">

</mat-card>