<mat-card fxLayout="row" >
  <mat-card-content fxLayout="column" fxLayoutGap="20px">

    <span>
      <div class="headline">About me</div>
    </span>
    <span class="regular">
      I started my carrier 20 years ago as UX designer and web-developer in the world of Web 1.0. <br> After 10 years as strategy consultant in global agency networks and another 10 years as project manager/director for digital transformation, I returned to frontend development and design again.<br>
      The reason is the maturity of web 3.0 and its vast new possibilities coming with <b>Artificial Intelligence</b> and <b>Blockchain Technology</b> .
    </span>

    <span fxLayout="row" fxLayoutGap="25px">
      <div><img src="./assets/svg/bulb.svg"></div>
      <div>
        My talent and biggest asset is my integrative working style accross functions and a fine mix of pragmatism, programming skills and design know-how.</div>
    </span>

    <span fxLayout="row" fxLayoutGap="25px">
      <div><img src="./assets/svg/puzzle.svg"></div>
      <div>
      I enjoy working as a team leader, programmer and product owner. Producing measurable results and working in an agile environment is my preference - because progress beats perfection, always. 
      </div>

    </span>
    <div class="spacer"></div>
  </mat-card-content>
<img class="shadow" src="./assets/img/about_purple_shadow.png" alt="">
  <mat-card-content class="circle-image">
        <div decor-line="9">
          <img src="./assets/img/alex_profile2.jpg">
        </div>      
  </mat-card-content>


  

</mat-card>
