@import "/src/styles/utils/variables";

:host {
  display: flex;
  z-index: 1;
  width: 100%;
}

mat-card {
  // background-color: rgba(44, 255, 36, 0.356) !important;
  box-shadow: none;
  padding-left: 30px;
}

mat-card-content {
  // background-color: rgba(44, 255, 36, 0.356) !important;

  span {
    // background-color: rgba(44, 255, 36, 0.356) !important;
    padding-right: 40px;
  }

  z-index: 3;
  // margin: 10px 30px !important;

  img {
    width: 50px;
  }
}

.mat-mdc-card-content {
  padding: 0 0;
}

.flex {
  display: flex;
}

.shadow {
  z-index: -1;
  position: absolute;
  right: 0;
  top: -300px;
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.circle-image img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border: 4px solid $green;
  border-radius: 100%;

  @media (max-width: $breakpointMedium) {
    display: none;
  }
}

[decor-line] {
  position: relative;
  align-items: center;
  display: flex;
  @media (max-width: $breakpointMedium) {
    display: none;
  }
}
[decor-line]::after {
  content: attr(decor-line);
  z-index: 20;
  margin-right: 0;
  height: 4px;
  min-width: 15vh;
  border-bottom: 4px solid $green;
  // top: 0.75em;
  // right: 0.75em;
  // width: 1.5em;
  // height: 1.5em;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border-radius: 50%;
  // background-color: red;
  // color: white;
  color:transparent;
}
