:host {
  display: block;
  z-index: 1;
  width: 100%;
}

mat-card{
  width: 100%;
  height: 20vh;
  background-color: rgba(44, 255, 36, 0.356)!important;
  box-shadow: none
}
mat-card-content {
  z-index: 3;
  width: 100%;
}
.mat-mdc-card-content {
  padding: 0 0;
}

.shadow{
  z-index: -1;
  position: absolute;
  right: 0;
  top: -300px;
  display: flex;
  justify-content: flex-end;
  width: 300px;

  // position: absolute;
  // right: 0;
  // top: -240px;
}

