 <!-- <app-greetingsection id="home"></app-greetingsection>
 <app-social-links></app-social-links>
<app-aboutme id="about"></app-aboutme>
 <app-myskills id="skills"></app-myskills>
<app-headline id="portfolio" [headline]="headlines[0]" [subheadline]="subheadlines[0]" [fxAlign]="fxAlignEnd"></app-headline> -->
<app-portfolio></app-portfolio>
<app-headline id="contact" [headline]="headlines[1]" [subheadline]="subheadlines[1]" [fxAlign]="fxAlignStart"></app-headline> 
<app-contact></app-contact>
<app-footer></app-footer> 

