@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "/src/styles/utils/variables";
@include textfield.core-styles;




.subtitle-normal-bold {
  color: $white;
}

.form-field-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one one two two two";
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }

  @media (max-width: $breakpointMedium) {
    grid-template-areas:
      "one"
      "two";
  }
}


// mat-form-field-underline {
//     background-color: rgb(255, 0, 0) !important;
//   }

mat-card {
  padding: 10px 30px;
    // background-color: rgba(0, 128, 0, 0.4) !important;
}

mat-card-content {
    // background-color: rgba(18, 225, 18, 0.4) !important;
}


