@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "/src/styles/utils/variables";
@include textfield.core-styles;

.subtitle-normal-bold {
  color: $white;
}

.form-field-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one one two two two";
  :nth-child(1) {
    background-color: rgba(0, 128, 0, 0.429);
    grid-area: one;
  }
  :nth-child(2) {
    background-color: rgba(0, 128, 0, 0.429);
    grid-area: two;
  }
  
  @media (max-width: $breakpointMedium) {
    grid-template-areas:
    "one"
    "two";
  }
}

.required-field{
  color: rgba(255, 255, 255, 0.6);
  margin-left: 15px;
  margin-bottom: 20px;

}

mat-card {
  padding: 10px 30px;
}



