<main class="form-grid">
<mat-card>
    <mat-card-content>
        <div class="subtitle-normal-bold">Got a problem to solve?</div>
        <div class="regular"><p>Contact me through this form. I am interested in getting in touch and hear about how I can help support you and your projects.</p><br>
        <p>Need a Front-end developer? <b>Contact me!</b> </p></div>
</mat-card-content>
</mat-card>

<mat-card color=primary>
    <mat-card-content>
        <form action="" method="post" fxLayout="column">
   
            <mat-form-field appearance="outline">
              <mat-label>Your name</mat-label>
              <input matInput placeholder="...">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
     
            <mat-form-field appearance="outline">
              <mat-label>Your email</mat-label>
              <input matInput placeholder="...">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
     
            <mat-form-field appearance="outline">
              <mat-label>Your message</mat-label>
              <input matInput placeholder="...">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
     
            <!-- <input type="text" placeholder="Your name">
            <input type="text" placeholder="Your email">
            <input type="textarea" placeholder="Your message"> -->

            <button mat-raised-button color="primary">Senden</button>
        </form>
</mat-card-content>
</mat-card>

</main>


