@import "/src/styles/utils/variables";

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin:($menuHeight) 0px;

    a{
        cursor: pointer;
        text-decoration: underline;
        color: white;
    }
  
}

mat-card{
    display: flex;
    width: 90%;    
}

mat-card-content{
    padding:40px 0px !important;
    color: $white;
}

// .headline-imprint{
// width: 90%;  
//     display: flex;
//     justify-content: flex-start;
//     align-items: flex-start;
// }

