@import "/src/styles/utils/variables";

:host {
  margin: 5vh 0;
}

.container {
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpointMedium) {
    flex-direction: column-reverse;
  }
}
.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .icon {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    img {
      max-width: 50px;
      max-height: 50px;
    }
    span {
      margin-top: 10px;
    }
  }
}
.headline-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: $breakpointMedium) {
    align-items: flex-end;
  }
  .headline {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: justify;
    width: 100%;
    margin-bottom: 50px;
    :nth-child(2) {
      margin-right: 30px;
      margin-top: 30px;
    }
    .regular {
      text-align: left;
    }
    span {
      white-space: nowrap;
    }
    @media (max-width: $breakpointMedium) {
      width: 60%;
    }
  }
}

[decor-line] {
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
}
[decor-line]::after {
  content: attr(decor-line);
  z-index: 20;
  position: relative;
  right: 0;
  margin-left: 10px;
  height: 4px;
  min-width: 100%;
  border-bottom: 4px solid $green;
  color: transparent;
}
[decor-line]::before {
  content: attr(decor-line);
  z-index: 20;
  margin-right: 10px;
  margin-left: 0px;
  height: 4px;
  min-width: 5vh;
  border-bottom: 4px solid $green;
  color: transparent;
}

mat-card {
  z-index: 3;
  width: 100%;
  box-shadow: none;
}
mat-card-content {
  width: 100%;
}

.contact-btn-box-largescreen {
  display: flex;
  width: 100%;
  justify-content: center;
  @media (max-width: $breakpointMedium) {
    display: none;
  }
}

.contact-btn-box-smallscreen {
  display: none;
  width: 100%;
  justify-content: center;
  @media (max-width: $breakpointMedium) {
    display: flex;
  }
}

.contact-btn {
  display: flex;
  z-index: 2;

  a {
    font-size: calc(23px + 0.4vw);
    background-color: #70e61c;
    padding: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    text-decoration: none;
    display: inline-block;

    &:hover {
      cursor: pointer;
      background-color: #9747ff;
      transform: scale(1.1, 1.1);
    }

    @media (max-width: 1000px) {
      font-size: calc(16px + 0.4vw);
      padding: 8px;
    }
  }
}
