<div class="container">
    <div class="icon-list">
        <div *ngFor="let skill of skills; let i = index" class="icon">
            <img src="./assets/svg/{{skill.img}}" alt="{{skill.name + ' Icon'}}">
            <span>{{skill.name}}</span>
        </div>
    </div>

    <div class="headline-box">
        <div class="headline">
            <div decor-line="">
                <span>My Skills</span>
            </div>
            <div class="regular">
                Coming from frontend design I have been deeping my skills in frontend development, programming <b>Typescript</b> , leveraging frameworks like  <b>Angular</b> and libraries like  <b>Google's Material</b> or  <b>Bootstrap</b>. I have experience in integrating  <b>APIs</b> and cloud backends like  <b>Firebase</b>.
            </div>
        </div>
        <div class="contact-btn-box-largescreen">
            <div class="contact-btn">
                <a href="#contact" class="contact-btn">Get in touch</a>
            </div>
        </div>
    </div>

</div>
<div class="contact-btn-box-smallscreen">
    <div class="contact-btn">
        <a href="#contact" class="contact-btn">Get in touch</a>
    </div>
</div>

<!-- <mat-card class="contact-btn-box">
    <mat-card-content> -->

<!--         
    </mat-card-content>
</mat-card> -->