@import "./styles/main";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,body{
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: $darkblue;
    color:$white;
}