@import "./styles/main";


html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overflow: hidden!important;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: $darkblue;
    color:$white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

mat-card{
  z-index: 2;
  width: 100%;
  background-color: transparent!important;
  // border: 0px solid transparent!important;
  // box-shadow:none;
}

mat-mdc-card-content{
padding: 0 !important;
}

mat-mdc-card {
  box-shadow:none !important;

}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $green;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 5px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
//         url('assets/fonts/Poppins-ExtraBold.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Black.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Bold.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Bold.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
//         url('assets/fonts/Poppins-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
//         url('assets/fonts/Poppins-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Thin.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Medium.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Regular.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('assets/fonts/Poppins-Light.woff2') format('woff2'),
//         url('assets/fonts/Poppins-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

