<!-- <app-greetingsection id="home"></app-greetingsection> -->
<!-- <app-social-links></app-social-links> -->
<div id="frontend-dev">Frontend Development</div>
<app-myskills id="skills"></app-myskills>
<app-headline id="portfolio" [headline]="headlines[0]" [subheadline]="subheadlines[0]"
    [fxAlign]="fxAlignStart"></app-headline>
<app-portfolio></app-portfolio>
<app-headline id="contact" [headline]="headlines[1]" [subheadline]="subheadlines[1]"
    [fxAlign]="fxAlignStart"></app-headline>
<app-contact></app-contact>
